*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(6.25% - 20px);
}

.grid-2 {
  width: calc(12.5% - 20px);
}

.grid-3 {
  width: calc(18.75% - 20px);
}

.grid-4 {
  width: calc(25% - 20px);
}

.grid-5 {
  width: calc(31.25% - 20px);
}

.grid-6 {
  width: calc(37.5% - 20px);
}

.grid-7 {
  width: calc(43.75% - 20px);
}

.grid-8 {
  width: calc(50% - 20px);
}

.grid-9 {
  width: calc(56.25% - 20px);
}

.grid-10 {
  width: calc(62.5% - 20px);
}

.grid-11 {
  width: calc(68.75% - 20px);
}

.grid-12 {
  width: calc(75% - 20px);
}

.grid-13 {
  width: calc(81.25% - 20px);
}

.grid-14 {
  width: calc(87.5% - 20px);
}

.grid-15 {
  width: calc(93.75% - 20px);
}

.grid-16 {
  width: calc(100% - 20px);
}

[class*=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 759px) {
  [class*=grid-] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(6.25% + 10px);
}

.offset-2 {
  margin-left: calc(12.5% + 10px);
}

.offset-3 {
  margin-left: calc(18.75% + 10px);
}

.offset-4 {
  margin-left: calc(25% + 10px);
}

.offset-5 {
  margin-left: calc(31.25% + 10px);
}

.offset-6 {
  margin-left: calc(37.5% + 10px);
}

.offset-7 {
  margin-left: calc(43.75% + 10px);
}

.offset-8 {
  margin-left: calc(50% + 10px);
}

.offset-9 {
  margin-left: calc(56.25% + 10px);
}

.offset-10 {
  margin-left: calc(62.5% + 10px);
}

.offset-11 {
  margin-left: calc(68.75% + 10px);
}

.offset-12 {
  margin-left: calc(75% + 10px);
}

.offset-13 {
  margin-left: calc(81.25% + 10px);
}

.offset-14 {
  margin-left: calc(87.5% + 10px);
}

.offset-15 {
  margin-left: calc(93.75% + 10px);
}

.offset-16 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12, .offset-13, .offset-14, .offset-15, .offset-16 {
    margin-left: 0;
  }
}
.container {
  max-width: 1199px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 759px) and (max-width: 1199px) {
  .container {
    max-width: 759px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 479px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 759px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

body {
  height: 100vh;
  background-image: url("../../assets/car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 450px;
}

.login-form {
  min-height: 440px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 20px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.405);
}

.login-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.login-form input {
  border: none;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1098039216);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 5px;
  padding: 5px;
}
.login-form input:focus {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.284);
  outline: none;
}
.login-form input::-moz-placeholder {
  color: #0D0D0D;
}
.login-form input::placeholder {
  color: #0D0D0D;
}

.button {
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  width: 40%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2745098039);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #ddd;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#nome, #senha {
  margin-top: 30px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help span {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
  margin-bottom: 5px;
  color: #d8d8d8;
}
.help span:hover {
  color: #ffffff;
}

span sup {
  margin-right: 2px;
}

.title {
  color: #0D0D0D;
  font-style: italic;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}/*# sourceMappingURL=styles.css.map */